swagger: '2.0'
info:
  version: v2
  title: New Relic v2 REST API
host: api.newrelic.com
basePath: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  '/v2/applications.json':
    get:
      description: List
      summary: list
      tags:
        - applications
      operationId: V2ApplicationsJsonGet
      parameters:
        - name: 'filter[name]'
          in: query
          required: false
          type: string
          description: Filter by application name
        - name: 'filter[host]'
          in: query
          required: false
          type: string
          description: Filter by application host
        - name: 'filter[ids]'
          in: query
          required: false
          type: string
          description: Filter by application ids
        - name: 'filter[language]'
          in: query
          required: false
          type: string
          description: Filter by application language
        - name: exclude_links
          in: query
          required: false
          type: string
          description: Exclude links section from the response
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApplicationResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/applications/{application_id}.json':
    get:
      description: Show
      summary: show
      tags:
        - applications
      operationId: V2ApplicationsJsonByIdGet
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApplicationResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Application found with the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    put:
      description: Update
      summary: update
      tags:
        - applications
      operationId: V2ApplicationsJsonByIdPut
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
        - name: application
          in: body
          required: true
          description: Application schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApplicationResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Application found with the given ID
          schema: {}
        '422':
          description: Validation error occurred when updating the application
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    delete:
      description: Delete
      summary: delete
      tags:
        - applications
      operationId: V2ApplicationsJsonByIdDelete
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApplicationResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Application found with the given ID
          schema: {}
        '409':
          description: Cannot delete an application that is still reporting data.
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/applications/{application_id}/metrics.json':
    get:
      description: Metric Names
      summary: metric_names
      tags:
        - applications
      operationId: V2ApplicationsMetricsJsonByApplicationIdGet
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
        - name: name
          in: query
          required: false
          type: string
          description: Filter metrics by name
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index (will be deprecated)
        - name: cursor
          in: query
          required: false
          type: string
          description: Cursor for next page (replacing page param)
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricParserResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/applications/{application_id}/metrics/data.json':
    get:
      description: Metric Data
      summary: metric_data
      tags:
        - applications
      operationId: V2ApplicationsMetricsDataJsonByApplicationIdGet
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
        - name: names
          in: query
          required: true
          type: string
          description: Retrieve specific metrics by name
        - name: values
          in: query
          required: false
          type: string
          description: Retrieve specific metric values
        - name: from
          in: query
          required: false
          type: string
          description: Retrieve metrics after this time
        - name: to
          in: query
          required: false
          type: string
          description: Retrieve metrics before this time
        - name: period
          in: query
          required: false
          type: string
          description: Period of timeslices in seconds
        - name: summarize
          in: query
          required: false
          type: string
          description: Summarize the data
        - name: raw
          in: query
          required: false
          type: string
          description: Return unformatted raw values
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricDataResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/applications/{application_id}/hosts.json':
    get:
      description: List
      summary: list
      tags:
        - application_hosts
      operationId: V2ApplicationsHostsJsonByApplicationIdGet
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
        - name: 'filter[hostname]'
          in: query
          required: false
          type: string
          description: Filter by server hostname
        - name: 'filter[ids]'
          in: query
          required: false
          type: string
          description: Filter by application host ids
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApplicationHostResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/applications/{application_id}/hosts/{host_id}.json':
    get:
      description: Show
      summary: show
      tags:
        - application_hosts
      operationId: V2ApplicationsHostsJsonByApplicationIdAndIdGet
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
        - name: host_id
          in: path
          required: true
          type: string
          description: Application host ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApplicationHostResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No application host found with the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/applications/{application_id}/hosts/{host_id}/metrics.json':
    get:
      description: Metric Names
      summary: names
      tags:
        - application_hosts
      operationId: V2ApplicationsHostsMetricsJsonByApplicationIdAndHostIdGet
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
        - name: host_id
          in: path
          required: true
          type: string
          description: Application Host ID
        - name: name
          in: query
          required: false
          type: string
          description: Filter metrics by name
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index (will be deprecated)
        - name: cursor
          in: query
          required: false
          type: string
          description: Cursor for next page (replacing page param)
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricParserResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/applications/{application_id}/hosts/{host_id}/metrics/data.json':
    get:
      description: Metric Data
      summary: data
      tags:
        - application_hosts
      operationId: V2ApplicationsHostsMetricsDataJsonByApplicationIdAndHostIdGet
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
        - name: host_id
          in: path
          required: true
          type: string
          description: Application Host ID
        - name: names
          in: query
          required: true
          type: string
          description: Retrieve specific metrics by name
        - name: values
          in: query
          required: false
          type: string
          description: Retrieve specific metric values
        - name: from
          in: query
          required: false
          type: string
          description: Retrieve metrics after this time
        - name: to
          in: query
          required: false
          type: string
          description: Retrieve metrics before this time
        - name: period
          in: query
          required: false
          type: string
          description: Period of timeslices in seconds
        - name: summarize
          in: query
          required: false
          type: string
          description: Summarize the data
        - name: raw
          in: query
          required: false
          type: string
          description: Return unformatted raw values
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricDataResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/applications/{application_id}/instances.json':
    get:
      description: List
      summary: list
      tags:
        - application_instances
      operationId: V2ApplicationsInstancesJsonByApplicationIdGet
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
        - name: 'filter[hostname]'
          in: query
          required: false
          type: string
          description: Filter by server hostname
        - name: 'filter[ids]'
          in: query
          required: false
          type: string
          description: Filter by application instance ids
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApplicationInstanceResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/applications/{application_id}/instances/{instance_id}.json':
    get:
      description: Show
      summary: show
      tags:
        - application_instances
      operationId: V2ApplicationsInstancesJsonByApplicationIdAndIdGet
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
        - name: instance_id
          in: path
          required: true
          type: string
          description: Application instance ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApplicationInstanceResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No application instance found with the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/applications/{application_id}/instances/{instance_id}/metrics.json':
    get:
      description: Metric Names
      summary: names
      tags:
        - application_instances
      operationId: V2ApplicationsInstancesMetricsJsonByApplicationIdAndInstanceIdGet
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
        - name: instance_id
          in: path
          required: true
          type: string
          description: Application Instance ID
        - name: name
          in: query
          required: false
          type: string
          description: Filter metrics by name
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index (will be deprecated)
        - name: cursor
          in: query
          required: false
          type: string
          description: Cursor for next page (replacing page param)
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricParserResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/applications/{application_id}/instances/{instance_id}/metrics/data.json':
    get:
      description: Metric Data
      summary: data
      tags:
        - application_instances
      operationId: V2ApplicationsInstancesMetricsDataJsonByApplicationIdAndInstanceIdGet
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
        - name: instance_id
          in: path
          required: true
          type: string
          description: Application Instance ID
        - name: names
          in: query
          required: true
          type: string
          description: Retrieve specific metrics by name
        - name: values
          in: query
          required: false
          type: string
          description: Retrieve specific metric values
        - name: from
          in: query
          required: false
          type: string
          description: Retrieve metrics after this time
        - name: to
          in: query
          required: false
          type: string
          description: Retrieve metrics before this time
        - name: period
          in: query
          required: false
          type: string
          description: Period of timeslices in seconds
        - name: summarize
          in: query
          required: false
          type: string
          description: Summarize the data
        - name: raw
          in: query
          required: false
          type: string
          description: Return unformatted raw values
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricDataResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/applications/{application_id}/deployments.json':
    get:
      description: List
      summary: list
      tags:
        - application_deployments
      operationId: V2ApplicationsDeploymentsJsonByApplicationIdGet
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeploymentResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Application found with the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    post:
      description: Create
      summary: create
      tags:
        - application_deployments
      operationId: V2ApplicationsDeploymentsJsonByApplicationIdPost
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
        - name: deployment
          in: body
          required: true
          description: Deployment schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeploymentResponse'
        '400':
          description: Revision parameter required
          schema: {}
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Application found with the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/applications/{application_id}/deployments/{deployment_id}.json':
    delete:
      description: Delete
      summary: delete
      tags:
        - application_deployments
      operationId: V2ApplicationsDeploymentsJsonByApplicationIdAndIdDelete
      parameters:
        - name: application_id
          in: path
          required: true
          type: string
          description: Application ID
        - name: deployment_id
          in: path
          required: true
          type: string
          description: Deployment ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeploymentResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Deployment found with the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/mobile_applications.json':
    get:
      description: List
      summary: list
      tags:
        - mobile_applications
      operationId: V2MobileApplicationsJsonGet
      parameters: []
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MobileApplicationResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/mobile_applications/{mobile_application_id}.json':
    get:
      description: Show
      summary: show
      tags:
        - mobile_applications
      operationId: V2MobileApplicationsJsonByIdGet
      parameters:
        - name: mobile_application_id
          in: path
          required: true
          type: string
          description: Mobile Application ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MobileApplicationResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Mobile Application found with the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/mobile_applications/{mobile_application_id}/metrics.json':
    get:
      description: Metric Names
      summary: metric_names
      tags:
        - mobile_applications
      operationId: V2MobileApplicationsMetricsJsonByMobileApplicationIdGet
      parameters:
        - name: mobile_application_id
          in: path
          required: true
          type: string
          description: Mobile application ID
        - name: name
          in: query
          required: false
          type: string
          description: Filter metrics by name
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index (will be deprecated)
        - name: cursor
          in: query
          required: false
          type: string
          description: Cursor for next page (replacing page param)
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricParserResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/mobile_applications/{mobile_application_id}/metrics/data.json':
    get:
      description: Metric Data
      summary: metric_data
      tags:
        - mobile_applications
      operationId: V2MobileApplicationsMetricsDataJsonByMobileApplicationIdGet
      parameters:
        - name: mobile_application_id
          in: path
          required: true
          type: string
          description: Mobile application ID
        - name: names
          in: query
          required: true
          type: string
          description: Retrieve specific metrics by name
        - name: values
          in: query
          required: false
          type: string
          description: Retrieve specific metric values
        - name: from
          in: query
          required: false
          type: string
          description: Retrieve metrics after this time
        - name: to
          in: query
          required: false
          type: string
          description: Retrieve metrics before this time
        - name: period
          in: query
          required: false
          type: string
          description: Period of timeslices in seconds
        - name: summarize
          in: query
          required: false
          type: string
          description: Summarize the data
        - name: raw
          in: query
          required: false
          type: string
          description: Return unformatted raw values
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricDataResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/browser_applications.json':
    get:
      description: List
      summary: list
      tags:
        - browser_applications
      operationId: V2BrowserApplicationsJsonGet
      parameters:
        - name: 'filter[name]'
          in: query
          required: false
          type: string
          description: Filter by application name
        - name: 'filter[ids]'
          in: query
          required: false
          type: string
          description: Filter by application ids
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BrowserApplicationResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    post:
      description: Create
      summary: create
      tags:
        - browser_applications
      operationId: V2BrowserApplicationsJsonPost
      parameters:
        - name: browser_application
          in: body
          required: true
          description: Browser Application Schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BrowserApplicationResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/key_transactions.json':
    get:
      description: List
      summary: list
      tags:
        - key_transactions
      operationId: V2KeyTransactionsJsonGet
      parameters:
        - name: 'filter[name]'
          in: query
          required: false
          type: string
          description: Filter by name
        - name: 'filter[ids]'
          in: query
          required: false
          type: string
          description: Filter by policy IDs
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/KeyTransactionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/key_transactions/{key_transaction_id}.json':
    get:
      description: Show
      summary: show
      tags:
        - key_transactions
      operationId: V2KeyTransactionsJsonByIdGet
      parameters:
        - name: key_transaction_id
          in: path
          required: true
          type: string
          description: Key transaction ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/KeyTransactionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No key transaction found with the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/servers.json':
    get:
      description: List
      summary: list
      tags:
        - servers
      operationId: V2ServersJsonGet
      parameters:
        - name: 'filter[name]'
          in: query
          required: false
          type: string
          description: Filter by name
        - name: 'filter[host]'
          in: query
          required: false
          type: string
          description: Filter by host
        - name: 'filter[ids]'
          in: query
          required: false
          type: string
          description: Filter by server IDs
        - name: 'filter[labels]'
          in: query
          required: false
          type: string
          description: Filter by server labels (beta)
        - name: 'filter[reported]'
          in: query
          required: false
          type: string
          description: Filter by reported in last 10 hours
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ServerResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/servers/{server_id}.json':
    get:
      description: Show
      summary: show
      tags:
        - servers
      operationId: V2ServersJsonByIdGet
      parameters:
        - name: server_id
          in: path
          required: true
          type: string
          description: Server ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ServerResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Server found with the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    put:
      description: Update
      summary: update
      tags:
        - servers
      operationId: V2ServersJsonByIdPut
      parameters:
        - name: server_id
          in: path
          required: true
          type: string
          description: Server ID
        - name: server
          in: body
          required: true
          description: New name of the server
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ServerResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Server found with the given ID
          schema: {}
        '422':
          description: Invalid attributes were sent to update
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    delete:
      description: Delete
      summary: delete
      tags:
        - servers
      operationId: V2ServersJsonByIdDelete
      parameters:
        - name: server_id
          in: path
          required: true
          type: string
          description: Server ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ServerResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Server found with the given ID
          schema: {}
        '409':
          description: Cannot delete a Server that is still reporting data.
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/servers/{server_id}/metrics.json':
    get:
      description: Metric Names
      summary: names
      tags:
        - servers
      operationId: V2ServersMetricsJsonByServerIdGet
      parameters:
        - name: server_id
          in: path
          required: true
          type: string
          description: Server ID
        - name: name
          in: query
          required: false
          type: string
          description: Filter metrics by name
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index (will be deprecated)
        - name: cursor
          in: query
          required: false
          type: string
          description: Cursor for next page (replacing page param)
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricParserResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/servers/{server_id}/metrics/data.json':
    get:
      description: Metric Data
      summary: data
      tags:
        - servers
      operationId: V2ServersMetricsDataJsonByServerIdGet
      parameters:
        - name: server_id
          in: path
          required: true
          type: string
          description: Server ID
        - name: names
          in: query
          required: true
          type: string
          description: Retrieve specific metrics by name
        - name: values
          in: query
          required: false
          type: string
          description: Retrieve specific metric values
        - name: from
          in: query
          required: false
          type: string
          description: Retrieve metrics after this time
        - name: to
          in: query
          required: false
          type: string
          description: Retrieve metrics before this time
        - name: period
          in: query
          required: false
          type: string
          description: Period of timeslices in seconds
        - name: summarize
          in: query
          required: false
          type: string
          description: Summarize the data
        - name: raw
          in: query
          required: false
          type: string
          description: Return unformatted raw values
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricDataResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/usages/{product}.json':
    get:
      description: List
      summary: list
      tags:
        - usages
      operationId: V2UsagesJsonByProductGet
      parameters:
        - name: product
          in: path
          required: true
          type: string
          description: 'Available: apm, browser, mobile.'
        - name: start_date
          in: query
          required: true
          type: string
          description: 'Format: YYYY-MM-DD'
        - name: end_date
          in: query
          required: true
          type: string
          description: 'Format: YYYY-MM-DD'
        - name: include_subaccounts
          in: query
          required: false
          type: string
          description: 'Include subaccounts usage? (default: false)'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UsageDataResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/users.json':
    get:
      description: List
      summary: list
      tags:
        - users
      operationId: V2UsersJsonGet
      parameters:
        - name: 'filter[ids]'
          in: query
          required: false
          type: string
          description: Filter by user IDs
        - name: 'filter[email]'
          in: query
          required: false
          type: string
          description: Filter by user email
        - name: page
          in: query
          required: false
          type: string
          description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UserResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/users/{user_id}.json':
    get:
      description: Show
      summary: show
      tags:
        - users
      operationId: V2UsersJsonByIdGet
      parameters:
        - name: user_id
          in: path
          required: true
          type: string
          description: User ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UserResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No user found with the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/users/{user_id}/reset_password.json':
    post:
      description: Reset password
      summary: reset_password
      tags:
        - users
      operationId: V2UsersResetPasswordJsonByIdPost
      parameters:
        - name: user_id
          in: path
          required: true
          type: string
          description: User ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UserResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_events.json':
    get:
      description: List
      summary: list
      tags:
        - alerts_events
      operationId: V2AlertsEventsJsonGet
      parameters:
        - name: 'filter[product]'
          in: query
          required: false
          type: string
          description: Filter by New Relic product
        - name: 'filter[entity_type]'
          in: query
          required: false
          type: string
          description: Filter by entity type
        - name: 'filter[entity_group_id]'
          in: query
          required: false
          type: string
          description: Filter by entity group ID
        - name: 'filter[entity_id]'
          in: query
          required: false
          type: string
          description: Filter by entity ID
        - name: 'filter[event_type]'
          in: query
          required: false
          type: string
          description: Filter by event type
        - name: 'filter[incident_id]'
          in: query
          required: false
          type: string
          description: Filter by incident id
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RecentEventResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_conditions/policies/{policy_id}.json':
    post:
      description: Create
      summary: create
      tags:
        - alerts_conditions
      operationId: V2AlertsConditionsPoliciesJsonByPolicyIdPost
      parameters:
        - name: policy_id
          in: path
          required: true
          type: string
          description: Alerts policy ID
        - name: condition
          in: body
          required: true
          description: Condition schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No alert policy was found with the given ID
          schema: {}
        '422':
          description: Validation error occurred while trying to create the alert condition
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_conditions/{condition_id}.json':
    put:
      description: Update
      summary: update
      tags:
        - alerts_conditions
      operationId: V2AlertsConditionsJsonByIdPut
      parameters:
        - name: condition_id
          in: path
          required: true
          type: string
          description: Alerts condition ID to update
        - name: condition
          in: body
          required: true
          description: Condition schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts condition was found with the given ID
          schema: {}
        '422':
          description: Validation error occurred while trying to update the alert condition
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    delete:
      description: Delete
      summary: delete
      tags:
        - alerts_conditions
      operationId: V2AlertsConditionsJsonByConditionIdDelete
      parameters:
        - name: condition_id
          in: path
          required: true
          type: string
          description: Alerts condition ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts condition was found with the given ID
          schema: {}
        '422':
          description: Validation exception occured
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_conditions.json':
    get:
      description: List
      summary: list
      tags:
        - alerts_conditions
      operationId: V2AlertsConditionsJsonGet
      parameters:
        - name: policy_id
          in: query
          required: true
          type: string
          description: Alerts policy ID
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts policy was found for the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_plugins_conditions/policies/{policy_id}.json':
    post:
      description: Create
      summary: create
      tags:
        - alerts_plugins_conditions
      operationId: V2AlertsPluginsConditionsPoliciesJsonByPolicyIdPost
      parameters:
        - name: policy_id
          in: path
          required: true
          type: string
          description: Alerts policy ID
        - name: plugins_condition
          in: body
          required: true
          description: Condition schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PluginsConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No alert policy was found with the given ID
          schema: {}
        '422':
          description: Validation error occurred while trying to create the alert condition
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_plugins_conditions/{condition_id}.json':
    put:
      description: Update
      summary: update
      tags:
        - alerts_plugins_conditions
      operationId: V2AlertsPluginsConditionsJsonByIdPut
      parameters:
        - name: condition_id
          in: path
          required: true
          type: string
          description: Alerts condition ID to update
        - name: plugins_condition
          in: body
          required: true
          description: Condition schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PluginsConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts condition was found with the given ID
          schema: {}
        '422':
          description: Validation error occurred while trying to update the alert condition
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    delete:
      description: Delete
      summary: delete
      tags:
        - alerts_plugins_conditions
      operationId: V2AlertsPluginsConditionsJsonByConditionIdDelete
      parameters:
        - name: condition_id
          in: path
          required: true
          type: string
          description: Alerts condition ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PluginsConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts condition was found with the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_plugins_conditions.json':
    get:
      description: List
      summary: list
      tags:
        - alerts_plugins_conditions
      operationId: V2AlertsPluginsConditionsJsonGet
      parameters:
        - name: policy_id
          in: query
          required: true
          type: string
          description: Alerts policy ID
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PluginsConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts policy was found for the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_external_service_conditions/policies/{policy_id}.json':
    post:
      description: Create
      summary: create
      tags:
        - alerts_external_service_conditions
      operationId: V2AlertsExternalServiceConditionsPoliciesJsonByPolicyIdPost
      parameters:
        - name: policy_id
          in: path
          required: true
          type: string
          description: Alerts policy ID
        - name: external_service_condition
          in: body
          required: true
          description: Condition schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ExternalServiceConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No alert policy was found with the given ID
          schema: {}
        '422':
          description: Validation error occurred while trying to create the alert condition
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_external_service_conditions/{condition_id}.json':
    put:
      description: Update
      summary: update
      tags:
        - alerts_external_service_conditions
      operationId: V2AlertsExternalServiceConditionsJsonByIdPut
      parameters:
        - name: condition_id
          in: path
          required: true
          type: string
          description: Alerts condition ID to update
        - name: external_service_condition
          in: body
          required: true
          description: Condition schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ExternalServiceConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts condition was found with the given ID
          schema: {}
        '422':
          description: Validation error occurred while trying to update the alert condition
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    delete:
      description: Delete
      summary: delete
      tags:
        - alerts_external_service_conditions
      operationId: V2AlertsExternalServiceConditionsJsonByConditionIdDelete
      parameters:
        - name: condition_id
          in: path
          required: true
          type: string
          description: Alerts condition ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ExternalServiceConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts condition was found with the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_external_service_conditions.json':
    get:
      description: List
      summary: list
      tags:
        - alerts_external_service_conditions
      operationId: V2AlertsExternalServiceConditionsJsonGet
      parameters:
        - name: policy_id
          in: query
          required: true
          type: string
          description: Alerts policy ID
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ExternalServiceConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts policy was found for the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_synthetics_conditions/policies/{policy_id}.json':
    post:
      description: Create
      summary: create
      tags:
        - alerts_synthetics_conditions
      operationId: V2AlertsSyntheticsConditionsPoliciesJsonByPolicyIdPost
      parameters:
        - name: policy_id
          in: path
          required: true
          type: string
          description: Alerts policy ID
        - name: synthetics_condition
          in: body
          required: true
          description: Condition schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SyntheticsConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No alert policy was found with the given ID
          schema: {}
        '406':
          description: Bad entity type
          schema: {}
        '422':
          description: Validation error occurred while trying to create the alert condition
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_synthetics_conditions/{condition_id}.json':
    put:
      description: Update
      summary: update
      tags:
        - alerts_synthetics_conditions
      operationId: V2AlertsSyntheticsConditionsJsonByIdPut
      parameters:
        - name: condition_id
          in: path
          required: true
          type: string
          description: Alerts condition ID to update
        - name: synthetics_condition
          in: body
          required: true
          description: Condition schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SyntheticsConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts condition was found with the given ID
          schema: {}
        '406':
          description: Bad entity type
          schema: {}
        '422':
          description: Validation error occurred while trying to update the alert condition
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    delete:
      description: Delete
      summary: delete
      tags:
        - alerts_synthetics_conditions
      operationId: V2AlertsSyntheticsConditionsJsonByConditionIdDelete
      parameters:
        - name: condition_id
          in: path
          required: true
          type: string
          description: Alerts condition ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SyntheticsConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts condition was found with the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_synthetics_conditions.json':
    get:
      description: List
      summary: list
      tags:
        - alerts_synthetics_conditions
      operationId: V2AlertsSyntheticsConditionsJsonGet
      parameters:
        - name: policy_id
          in: query
          required: true
          type: string
          description: Alerts policy ID
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SyntheticsConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts policy was found for the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_nrql_conditions/policies/{policy_id}.json':
    post:
      description: Create
      summary: create
      tags:
        - alerts_nrql_conditions
      operationId: V2AlertsNrqlConditionsPoliciesJsonByPolicyIdPost
      parameters:
        - name: policy_id
          in: path
          required: true
          type: string
          description: Alerts policy ID
        - name: nrql_condition
          in: body
          required: true
          description: Condition schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NrqlConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts policy was found with the given ID
          schema: {}
        '422':
          description: Validation error occurred while trying to create the Alerts condition
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_nrql_conditions/{condition_id}.json':
    put:
      description: Update
      summary: update
      tags:
        - alerts_nrql_conditions
      operationId: V2AlertsNrqlConditionsJsonByIdPut
      parameters:
        - name: condition_id
          in: path
          required: true
          type: string
          description: Alerts condition ID to update
        - name: nrql_condition
          in: body
          required: true
          description: Condition schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NrqlConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts condition was found with the given ID
          schema: {}
        '422':
          description: Validation error occurred while trying to update the Alerts condition
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    delete:
      description: Delete
      summary: delete
      tags:
        - alerts_nrql_conditions
      operationId: V2AlertsNrqlConditionsJsonByConditionIdDelete
      parameters:
        - name: condition_id
          in: path
          required: true
          type: string
          description: Alerts condition ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NrqlConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts condition was found with the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_nrql_conditions.json':
    get:
      description: List
      summary: list
      tags:
        - alerts_nrql_conditions
      operationId: V2AlertsNrqlConditionsJsonGet
      parameters:
        - name: policy_id
          in: query
          required: true
          type: string
          description: Alerts policy ID
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NrqlConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts policy was found for the given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_policies.json':
    get:
      description: List
      summary: list
      tags:
        - alerts_policies
      operationId: V2AlertsPoliciesJsonGet
      parameters:
        - name: 'filter[name]'
          in: query
          required: false
          type: string
          description: Name (must be exact match)
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PolicyResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '422':
          description: Validation or internal error occurred
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    post:
      description: Create
      summary: create
      tags:
        - alerts_policies
      operationId: V2AlertsPoliciesJsonPost
      parameters:
        - name: policy
          in: body
          required: true
          description: Policy Schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PolicyResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '422':
          description: Validation or internal error occurred while trying to create the Alerts policy
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_policies/{policy_id}.json':
    put:
      description: Update
      summary: update
      tags:
        - alerts_policies
      operationId: V2AlertsPoliciesJsonByIdPut
      parameters:
        - name: policy_id
          in: path
          required: true
          type: string
          description: Policy ID
        - name: policy
          in: body
          required: true
          description: Policy Schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PolicyResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: Alerts policy could not be found for updating
          schema: {}
        '422':
          description: Validation or internal error occurred while trying to update the Alerts policy
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    delete:
      description: Delete
      summary: delete
      tags:
        - alerts_policies
      operationId: V2AlertsPoliciesJsonByPolicyIdDelete
      parameters:
        - name: policy_id
          in: path
          required: true
          type: string
          description: Policy ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PolicyResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: Alerts policy could not be found for deleting
          schema: {}
        '422':
          description: Validation or internal error occurred
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_channels.json':
    get:
      description: List
      summary: list
      tags:
        - alerts_channels
      operationId: V2AlertsChannelsJsonGet
      parameters:
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ChannelResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '422':
          description: Validation or internal error occurred
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    post:
      description: Create
      summary: create
      tags:
        - alerts_channels
      operationId: V2AlertsChannelsJsonPost
      parameters:
        - name: channel
          in: body
          required: true
          description: channel schema
          schema:
            type: string
        - name: policy_ids
          in: query
          required: false
          type: string
          description: Policy IDs to associate with channel
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ChannelResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '422':
          description: Validation or internal error occurred
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_channels/{channel_id}.json':
    delete:
      description: Delete
      summary: delete
      tags:
        - alerts_channels
      operationId: V2AlertsChannelsJsonByChannelIdDelete
      parameters:
        - name: channel_id
          in: path
          required: true
          type: string
          description: Channel ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ChannelResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No channel was found with the given ID
          schema: {}
        '406':
          description: Cannot delete USER channels
          schema: {}
        '422':
          description: Validation or internal error occurred
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_policy_channels.json':
    put:
      description: Update
      summary: update
      tags:
        - alerts_policy_channels
      operationId: V2AlertsPolicyChannelsJsonPut
      parameters:
        - name: policy_id
          in: query
          required: true
          type: string
          description: Policy ID
        - name: channel_ids
          in: query
          required: true
          type: string
          description: Channel IDs
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PolicyChannelsResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No policy channel found with the given ID
          schema: {}
        '422':
          description: Validation or internal error occurred while trying to update the policy channels
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    delete:
      description: Delete
      summary: delete
      tags:
        - alerts_policy_channels
      operationId: V2AlertsPolicyChannelsJsonDelete
      parameters:
        - name: policy_id
          in: query
          required: true
          type: string
          description: Policy ID
        - name: channel_id
          in: query
          required: true
          type: string
          description: Channel ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ChannelResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No policy channel found with the given ID
          schema: {}
        '422':
          description: Validation or internal error occurred while trying to delete the policy channels
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_violations.json':
    get:
      description: List
      summary: list
      tags:
        - alerts_violations
      operationId: V2AlertsViolationsJsonGet
      parameters:
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
        - name: start_date
          in: query
          required: false
          type: string
          description: Retrieve violations created after this time
        - name: end_date
          in: query
          required: false
          type: string
          description: Retrieve violations created before this time
        - name: only_open
          in: query
          required: false
          type: string
          description: Filter by open violations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ViolationResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '422':
          description: Internal error occurred while trying to list violations
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_incidents.json':
    get:
      description: List
      summary: list
      tags:
        - alerts_incidents
      operationId: V2AlertsIncidentsJsonGet
      parameters:
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
        - name: only_open
          in: query
          required: false
          type: string
          description: Filter by open incidents
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IncidentResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '422':
          description: Validation exception occured
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/alerts_entity_conditions/{entity_id}.json':
    get:
      description: List
      summary: list
      tags:
        - alerts_entity_conditions
      operationId: V2AlertsEntityConditionsJsonByEntityIdGet
      parameters:
        - name: entity_id
          in: path
          required: true
          type: string
          description: Entity ID
        - name: entity_type
          in: query
          required: true
          type: string
          description: Entity Type
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '406':
          description: Bad entity type
          schema: {}
        '422':
          description: Internal error occurred while trying to add the Alerts entity
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    put:
      description: Add
      summary: add
      tags:
        - alerts_entity_conditions
      operationId: V2AlertsEntityConditionsJsonByEntityIdPut
      parameters:
        - name: entity_id
          in: path
          required: true
          type: string
          description: Entity id to add
        - name: entity_type
          in: query
          required: true
          type: string
          description: Entity Type
        - name: condition_id
          in: query
          required: true
          type: string
          description: Alerts condition ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts condition found with the given ID
          schema: {}
        '406':
          description: Bad entity type
          schema: {}
        '422':
          description: Validation or internal error occurred while trying to add the Alerts entity
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    delete:
      description: Remove
      summary: remove
      tags:
        - alerts_entity_conditions
      operationId: V2AlertsEntityConditionsJsonByEntityIdDelete
      parameters:
        - name: entity_id
          in: path
          required: true
          type: string
          description: Entity id to remove
        - name: entity_type
          in: query
          required: true
          type: string
          description: Entity Type
        - name: condition_id
          in: query
          required: true
          type: string
          description: Alerts condition ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConditionResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Alerts condition found with the given ID
          schema: {}
        '406':
          description: Bad entity type
          schema: {}
        '422':
          description: Validation or internal error occurred while trying to remove the Alerts entity
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/dashboards.json':
    get:
      description: List
      summary: list
      tags:
        - dashboards
      operationId: V2DashboardsJsonGet
      parameters:
        - name: 'filter[title]'
          in: query
          required: false
          type: string
          description: Contains title
        - name: 'filter[owner_email]'
          in: query
          required: false
          type: string
          description: Contains owner email
        - name: 'filter[category]'
          in: query
          required: false
          type: string
          description: Category is one of ('all' | 'favorite' | 'mine')
        - name: 'filter[created_before]'
          in: query
          required: false
          type: string
          description: Created before given date
        - name: 'filter[created_after]'
          in: query
          required: false
          type: string
          description: Created after given date
        - name: 'filter[updated_before]'
          in: query
          required: false
          type: string
          description: Updated before given date
        - name: 'filter[updated_after]'
          in: query
          required: false
          type: string
          description: Updated after given date
        - name: sort
          in: query
          required: false
          type: string
          description: Sort is one of ('name' | 'recently viewed' | 'last edited')
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
        - name: per_page
          in: query
          required: false
          type: string
          description: Number of items per page
      responses:
        '200':
          description: OK
          schema:
            type: object
        '400':
          description: Provided page number is not 1 or higher
          schema: {}
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '503':
          description: Service unavailable
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    post:
      description: Create
      summary: create
      tags:
        - dashboards
      operationId: V2DashboardsJsonPost
      parameters:
        - name: dashboard
          in: body
          required: true
          description: Dashboard schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
        '400':
          description: Dashboard payload failed validation
          schema: {}
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '503':
          description: Service unavailable
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/dashboards/{dashboard_id}.json':
    get:
      description: Show
      summary: show
      tags:
        - dashboards
      operationId: V2DashboardsJsonByIdGet
      parameters:
        - name: dashboard_id
          in: path
          required: true
          type: string
          description: Dashboard ID
      responses:
        '200':
          description: OK
          schema:
            type: object
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: Dashboard does not exist or is inaccessible
          schema: {}
        '503':
          description: Service unavailable
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    put:
      description: Update
      summary: update
      tags:
        - dashboards
      operationId: V2DashboardsJsonByIdPut
      parameters:
        - name: dashboard_id
          in: path
          required: true
          type: string
          description: Dashboard ID
        - name: dashboard
          in: body
          required: true
          description: Dashboard schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
        '400':
          description: Dashboard payload failed validation
          schema: {}
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: Dashboard does not exist or is inaccessible
          schema: {}
        '503':
          description: Service unavailable
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    delete:
      description: Delete
      summary: delete
      tags:
        - dashboards
      operationId: V2DashboardsJsonByIdDelete
      parameters:
        - name: dashboard_id
          in: path
          required: true
          type: string
          description: Dashboard ID
      responses:
        '200':
          description: OK
          schema:
            type: object
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: Dashboard does not exist or is inaccessible
          schema: {}
        '503':
          description: Service unavailable
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/plugins.json':
    get:
      description: List
      summary: list
      tags:
        - plugins
      operationId: V2PluginsJsonGet
      parameters:
        - name: 'filter[guid]'
          in: query
          required: false
          type: string
          description: Filter plugin by guid
        - name: 'filter[ids]'
          in: query
          required: false
          type: string
          description: Filter plugin by ids
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
        - name: detailed
          in: query
          required: false
          type: string
          description: Include all data about a plugin
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PluginResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/plugins/{plugin_id}.json':
    get:
      description: Show
      summary: show
      tags:
        - plugins
      operationId: V2PluginsJsonByIdGet
      parameters:
        - name: plugin_id
          in: path
          required: true
          type: string
          description: Plugin ID
        - name: detailed
          in: query
          required: false
          type: string
          description: Include all data about a plugin
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PluginResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Plugin found with given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/components.json':
    get:
      description: List
      summary: list
      tags:
        - components
      operationId: V2ComponentsJsonGet
      parameters:
        - name: 'filter[name]'
          in: query
          required: false
          type: string
          description: Filter components by name
        - name: 'filter[ids]'
          in: query
          required: false
          type: string
          description: Filter components by ids
        - name: 'filter[plugin_id]'
          in: query
          required: false
          type: string
          description: Filter components by the plugin
        - name: health_status
          in: query
          required: false
          type: string
          description: Include component health status
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ComponentResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/components/{component_id}.json':
    get:
      description: Show
      summary: show
      tags:
        - components
      operationId: V2ComponentsJsonByIdGet
      parameters:
        - name: component_id
          in: path
          required: true
          type: string
          description: Plugin ID
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ComponentResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        '404':
          description: No Plugin found with given ID
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/components/{component_id}/metrics.json':
    get:
      description: Metric Names
      summary: names
      tags:
        - components
      operationId: V2ComponentsMetricsJsonByComponentIdGet
      parameters:
        - name: component_id
          in: path
          required: true
          type: string
          description: Component ID
        - name: name
          in: query
          required: false
          type: string
          description: Filter metrics by name
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index (will be deprecated)
        - name: cursor
          in: query
          required: false
          type: string
          description: Cursor for next page (replacing page param)
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricParserResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/components/{component_id}/metrics/data.json':
    get:
      description: Metric Data
      summary: data
      tags:
        - components
      operationId: V2ComponentsMetricsDataJsonByComponentIdGet
      parameters:
        - name: component_id
          in: path
          required: true
          type: string
          description: Component ID
        - name: names
          in: query
          required: true
          type: string
          description: Retrieve specific metrics by name
        - name: values
          in: query
          required: false
          type: string
          description: Retrieve specific metric values
        - name: from
          in: query
          required: false
          type: string
          description: Retrieve metrics after this time
        - name: to
          in: query
          required: false
          type: string
          description: Retrieve metrics before this time
        - name: period
          in: query
          required: false
          type: string
          description: Period of timeslices in seconds
        - name: summarize
          in: query
          required: false
          type: string
          description: Summarize the data
        - name: raw
          in: query
          required: false
          type: string
          description: Return unformatted raw values
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MetricDataResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/labels.json':
    get:
      description: List
      summary: list
      tags:
        - labels
      operationId: V2LabelsJsonGet
      parameters:
        - name: page
          in: query
          required: false
          type: string
          description: Pagination index
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LabelResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
    put:
      description: Create
      summary: create
      tags:
        - labels
      operationId: V2LabelsJsonPut
      parameters:
        - name: label
          in: body
          required: true
          description: Label schema
          schema:
            type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LabelResponse'
        '401':
          description: Invalid API key
          schema: {}
        '403':
          description: New Relic API access has not been enabled
          schema: {}
        default:
          description: 'A server error occurred, please contact <a href="http://support.newrelic.com">New Relic support</a>'
          schema: {}
      security: []
  '/v2/labels/{key}.json':
    delete:
      description: Delete
      summary: delete
[...]
